@model IEnumerable<TravelAssigments.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (TravelAssigments.Models.Post post in ViewBag.listPost) {
    <tr>
        <td>
            @post.Title
        </td>
        <td>
            @post.Description
        </td>
        <td>
            @post.PostDate
        </td>
        <td>
            @post.Status
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= post.id }) |
            @Html.ActionLink("Details", "Details", new { id= post.id }) |
            @Html.ActionLink("Delete", "Delete", new { id= post.id })
        </td>
    </tr>
}

</table>
